CONFIG_PLUSONE_WIFI_SSID="YOUR_WIFI"
CONFIG_PLUSONE_WIFI_PASSWORD="YOUR_WIFI_PASSWORD"
CONFIG_PLUSONE_HOST="192.168.1.10"
CONFIG_PLUSONE_PORT=8000
CONFIG_PLUSONE_ROOM="demo"
CONFIG_PLUSONE_USER="sam"
CONFIG_PLUSONE_USE_TLS=n
